.item{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    flex-shrink: 0;
}

.menuList {
    list-style: none;
}

.menuItem {
    text-decoration: none;
    /* font-size: 26px; */
    font-weight: 500;
    color: #1976d2;
}
.bracketLine {
    width: 100%;
    height: 18px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    margin-right: 5px;
    margin-left: 5px;
}

.bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
.i_name{
    flex-shrink: 0;
}
.i_weight{
    flex-shrink: 0;
}
h3 {
    color: #c48230;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}
.imageStep{
    border-radius: 5px;
}
.itemStep+.itemStep{
    margin-top: 40px;
}
li::marker{
  color:  #1976d2;
}