

.menuList{
    list-style: none;
    /* background-color: #cdcb91; */
    /* background-image: linear-gradient(#cdcb91, #cdcb91b7), url(../img/bg2.png); */
    background-image: linear-gradient(#000000b7, #000000b7),url(../img/bg2.png);
    background-position: bottom;
    background-size: 360px 500px;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    border-radius: 15px;
}

.menuItem svg{
    fill:#1976d2;
}

.menuItem a{
text-decoration: none;
font-size: 28px;
font-weight: 500;
color: #1976d2;
}

.menuItem + .menuItem{
    margin-top: 20px;
}
.imgMenu{
    position: absolute;
    right: 0;
    top: 0;
}